<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tbody>
<tr>
    <td height="25" style="border-bottom:1px #DEDEDE dashed; vertical-align:middle">
        <span style="float:left">
            <img src="http://www.sqc.edu.cn/images/prefix/sub.gif" align="absmiddle"/>&#160;&#160;<span
                class="link_16">
            <a href="article-detail-983745.html">&#12298;&#27743;&#33487;&#27861;&#21046;&#25253;&#12299;&#65306;&#23487;&#36801;&#23398;&#38498;&#22823;&#23398;&#29983;&#36827;&#31038;&#21306;&#23459;&#35762;&#21313;&#20061;&#22823;&#31934;&#31070;</a>
        </span>
        <span
            class="link_14" style="float:right"> &#160;[2018-02-07]
        </span>
    </td>
</tr>
<tr>
    <td height="25" style="border-bottom:1px #DEDEDE dashed; vertical-align:middle"><span style="float:left"><img
            src="http://www.sqc.edu.cn/images/prefix/sub.gif" align="absmiddle"/>&#160;&#160;<span class="link_16"><a
            href="article-detail-983726.html">&#25105;&#26657;&#24320;&#23637;&#36865;&#28201;&#26262;&#27963;&#21160;</a></span></span><span
            class="link_14" style="float:right"> &#160;[2018-02-01]</span></td>
</tr>
<tr>
    <td height="25" style="border-bottom:1px #DEDEDE dashed; vertical-align:middle"><span style="float:left"><img
            src="http://www.sqc.edu.cn/images/prefix/sub.gif" align="absmiddle"/>&#160;&#160;<span class="link_16"><a
            href="article-detail-983725.html">&#25105;&#26657;&#24320;&#23637;&#24037;&#20250;&#24037;&#20316;&#20132;&#27969;&#27963;&#21160;</a></span></span><span
            class="link_14" style="float:right"> &#160;[2018-02-01]</span></td>
</tr>
<tr>
    <td height="25" style="border-bottom:1px #DEDEDE dashed; vertical-align:middle"><span style="float:left"><img
            src="http://www.sqc.edu.cn/images/prefix/sub.gif" align="absmiddle"/>&#160;&#160;<span class="link_16"><a
            href="article-detail-983718.html">&#27743;&#33487;&#25945;&#32946;&#20826;&#24314;&#32593;&#65306;&#23487;&#36801;&#23398;&#38498;&#31934;&#24515;&#32452;&#32455;&#22823;&#23398;&#29983;&#23506;&#20551;&#23459;&#35762;&#21313;&#20061;&#22823;&#31934;&#31070;</a></span></span><span
            class="link_14" style="float:right"> &#160;[2018-01-31]</span></td>
</tr>
<tr>
    <td height="25" style="border-bottom:1px #DEDEDE dashed; vertical-align:middle"><span style="float:left"><img
            src="http://www.sqc.edu.cn/images/prefix/sub.gif" align="absmiddle"/>&#160;&#160;<span class="link_16"><a
            href="article-detail-983714.html">&#12298;&#23487;&#36801;&#26085;&#25253;&#12299;&#65306;&#23487;&#36801;&#23398;&#38498;&#22823;&#23398;&#29983;&#23506;&#20551;&#23459;&#35762;&#21313;&#20061;&#22823;&#31934;&#31070;</a></span></span><span
            class="link_14" style="float:right"> &#160;[2018-01-30]</span></td>
</tr>
<tr>
    <td height="25" style="border-bottom:1px #DEDEDE dashed; vertical-align:middle"><span style="float:left"><img
            src="http://www.sqc.edu.cn/images/prefix/sub.gif" align="absmiddle"/>&#160;&#160;<span class="link_16"><a
            href="article-detail-983711.html">&#26657;&#20826;&#22996;&#24944;&#38382;&#22256;&#38590;&#20826;&#21592;</a></span></span><span
            class="link_14" style="float:right"> &#160;[2018-01-29]</span></td>
</tr>
<tr>
    <td height="25" style="border-bottom:1px #DEDEDE dashed; vertical-align:middle"><span style="float:left"><img
            src="http://www.sqc.edu.cn/images/prefix/sub.gif" align="absmiddle"/>&#160;&#160;<span class="link_16"><a
            href="article-detail-983707.html">&#26657;&#20826;&#22996;&#21484;&#24320;2017&#24180;&#24230;&#27665;&#20027;&#29983;&#27963;&#20250;</a></span></span><span
            class="link_14" style="float:right"> &#160;[2018-01-27]</span></td>
</tr>
<tr>
    <td height="25" style="border-bottom:1px #DEDEDE dashed; vertical-align:middle"><span style="float:left"><img
            src="http://www.sqc.edu.cn/images/prefix/sub.gif" align="absmiddle"/>&#160;&#160;<span class="link_16"><a
            href="article-detail-983706.html">&#26657;&#20826;&#22996;&#21484;&#24320;&#20013;&#24515;&#32452;&#19987;&#39064;&#23398;&#20064;&#20250;</a></span></span><span
            class="link_14" style="float:right"> &#160;[2018-01-27]</span></td>
</tr>
<tr>
    <td height="25" style="border-bottom:1px #DEDEDE dashed; vertical-align:middle"><span style="float:left"><img
            src="http://www.sqc.edu.cn/images/prefix/sub.gif" align="absmiddle"/>&#160;&#160;<span class="link_16"><a
            href="article-detail-983703.html">&#21518;&#21220;&#22788;&#20030;&#21150;2018&#36814;&#26032;&#26149;&#25991;&#33402;&#32852;&#27426;&#26202;&#20250;</a></span></span><span
            class="link_14" style="float:right"> &#160;[2018-01-26]</span></td>
</tr>
<tr>
    <td height="25" style="border-bottom:1px #DEDEDE dashed; vertical-align:middle"><span style="float:left"><img
            src="http://www.sqc.edu.cn/images/prefix/sub.gif" align="absmiddle"/>&#160;&#160;<span class="link_16"><a
            href="article-detail-983685.html">&#25105;&#26657;&#24320;&#23637;&#31532;&#19968;&#23395;&#24230;&#8220;&#38451;&#20809;&#25206;&#36139;&#8221;&#36208;&#35775;&#24944;&#38382;&#27963;&#21160;</a></span></span><span
            class="link_14" style="float:right"> &#160;[2018-01-24]</span></td>
</tr>
<tr>
    <td height="25" style="border-bottom:1px #DEDEDE dashed; vertical-align:middle"><span style="float:left"><img
            src="http://www.sqc.edu.cn/images/prefix/sub.gif" align="absmiddle"/>&#160;&#160;<span class="link_16"><a
            href="article-detail-983681.html">&#25105;&#26657;&#20030;&#21150;&#20826;&#25903;&#37096;&#20070;&#35760;&#36718;&#35757;&#29677;</a></span></span><span
            class="link_14" style="float:right"> &#160;[2018-01-24]</span></td>
</tr>
<tr>
    <td height="25" style="border-bottom:1px #DEDEDE dashed; vertical-align:middle"><span style="float:left"><img
            src="http://www.sqc.edu.cn/images/prefix/sub.gif" align="absmiddle"/>&#160;&#160;<span class="link_16"><a
            href="article-detail-983680.html">&#25105;&#26657;&#21484;&#24320;2017&#24180;&#24230;&#20826;&#24635;&#25903;&#65288;&#30452;&#23646;&#25903;&#37096;&#65289;&#20070;&#35760;&#25235;&#20826;&#24314;&#24037;&#20316;&#36848;&#32844;&#20250;</a></span></span><span
            class="link_14" style="float:right"> &#160;[2018-01-24]</span></td>
</tr>
<tr>
    <td height="25" style="border-bottom:1px #DEDEDE dashed; vertical-align:middle"><span style="float:left"><img
            src="http://www.sqc.edu.cn/images/prefix/sub.gif" align="absmiddle"/>&#160;&#160;<span class="link_16"><a
            href="article-detail-983679.html">&#25105;&#26657;&#21484;&#24320;2017&#24180;&#24230;&#20013;&#23618;&#24178;&#37096;&#36848;&#32844;&#36848;&#24265;&#22823;&#20250;</a></span></span><span
            class="link_14" style="float:right"> &#160;[2018-01-24]</span></td>
</tr>
<tr>
    <td height="25" style="border-bottom:1px #DEDEDE dashed; vertical-align:middle"><span style="float:left"><img
            src="http://www.sqc.edu.cn/images/prefix/sub.gif" align="absmiddle"/>&#160;&#160;<span class="link_16"><a
            href="article-detail-983677.html">&#12298;&#23487;&#36801;&#26085;&#25253;&#12299;&#65306;&#23487;&#36801;&#23398;&#38498;&#21484;&#24320;&#31532;&#19968;&#23626;&#25945;&#32844;&#24037;&#20195;&#34920;&#22823;&#20250;&#26280;&#24037;&#20250;&#20250;&#21592;&#20195;&#34920;&#22823;&#20250;</a></span></span><span
            class="link_14" style="float:right"> &#160;[2018-01-23]</span></td>
</tr>
<tr/>
<tr>
    <td height="25"><span style="float:right"><ul style="border:0; margin:0; padding:0;" id="pagination-flickr"><li
            class="active">1</li><li><a href="article-list-157-s52102500_start-14.html">2</a></li><li><a
            href="article-list-157-s52102500_start-28.html">3</a></li><li><a
            href="article-list-157-s52102500_start-42.html">4</a></li><li>...</li><li><a
            href="article-list-157-s52102500_start-3710.html">266</a></li><li class="next"><nobr><a
            href="article-list-157-s52102500_start-14.html">&#19979;&#19968;&#39029;</a></nobr></li></ul></span></td>
</tr>
</tbody>

</body>
</html>